/*****************************************************************************
  html5-video-exercise
******************************************************************************/


@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';



.video-container {
  height: 0;
  padding-bottom: 56.25%;
}

.video-player {
  width: 100%;
}



