<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>html5-video-exercise</title>

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" type="text/css" href="../bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/main.css">
    
  </head>

  <body>
    <div class="container">
      <h1>Week 1</h1>
      
      <div id="video-container">

      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Week 1: Intro to HTML</h4>
        </div>

        <ul id="playlist" class="list-group">
        </ul>

      </div>
    </div> 

    <!-- build:js scripts/main.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/lodash/lodash.min.js"></script>
    <script src="../bower_components/backbone/backbone-min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/video.js"></script>
    <script src="scripts/playlist.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <script type="text/template" id="player-template">
      <video controls class="panel video-player">
        <source src="<%= source %>" type="<%= type %>"/>      
        <track src="<%= captions.src %>" srclang="<%= captions.srclang %>" kind="<%= captions.kind %>" label="<%= captions.label %>" />
      </video>
    </script>

    <script type="text/template" id="video-item-template">
      <li class="list-group-item">
        <%= title %>
        <span class="badge">
          <%= video.time %>
        </span>
      </li> 
    </script>
  </body>
</html>
