<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>html5-video-exercise</title>

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" type="text/css" href="../bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    
    <!-- endbuild -->

    <link rel="stylesheet" href="styles/main.css">

    
  </head>

  <body>
    <div class="container">
      <h1>Week 1</h1>
      
      <div id="video-container">

      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Week 1: Intro to HTML</h4>
        </div>

        <div id="playlist" class="list-group">
<!--           <a href="#" class="list-group-item active">
              Intro to HTML tags

              <span class="badge">1:40</span>
          </a> 

          <a href="#" class="list-group-item">
              Basic structure of an HTML Document

              <span class="badge">2:00</span>
          </a> 

          <a href="#" class="list-group-item">
              Creating your own HTML file

              <span class="badge">2:30</span>
          </a> 

          <a href="#" class="list-group-item">
              Using Chrome's Dev Tools

              <span class="badge">5:25</span>
          </a> 

          <a href="#" class="list-group-item">
              HTML Resources

              <span class="badge">1:00</span>
          </a>  -->
        </div>

      </div>
    </div> 

    <!-- build:js scripts/main.js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/lodash/lodash.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <script type="text/template" id="video-template">
      <video controls class="panel video-player">
        <source src="<%= source %>" type="<%= type %>"/>      
        <track src="<%= captions.src %>" srclang="<%= captions.srclang %>" kind="<%= captions.kind %>" label="<%= captions.label %>" />
      </video>
    </script>
  </body>
</html>
